@charset "utf-8";

@font-face {
  font-family: gmarket;
  src: url(../font/GmarketSansTTFLight.woff);
}
footer {
  height: 10.4167vw;
  background-color: #434556;
  color: #d8d8d8;
  font-size: 0.7292vw;
}
footer ul li {
  list-style: none;
  font-family: gmarket;
  text-align: center;
}
.footer--logo {
  padding: 1.0417vw 0 0.5208vw;
  margin-left: 50%;
  transform: translate(-50%);
}
.footer--logo img {
  margin-left: 50%;
  transform: translate(-50%);
}
footer span {
  margin-left: 1.0417vw;
}
