@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
}

/* img{display: block;} */
/* 슬라이드 영역 */
div.exam {
  /* position: relative; */
  padding-top: 8.4896vw;
  width: 100%;
  overflow: hidden;
}
/*789*/
.exam div img {
  width: 100%;
  height: 41.9792vw;
  max-width: 100%;
}
/* 슬라이드  끝 */

.closetime-section {
  width: 100%;
  height: 31.25vw;
  /* background-color: rebeccapurple; */
  overflow: hidden;
}

.closetime--box img {
  border: 0.0521vw solid black;
}
.closetime-section img {
  padding-top: 1.5625vw;
  width: 30%;
  height: 30%;
  margin-left: 50%;
  transform: translate(-50%);
  animation: fadeIn 3s;
}
/* 추억 영역 */
.memory--section {
  border: 0.0521vw solid red;
  overflow: hidden;
  position: relative;
  background-image: url(../imgs/bgi2.svg);
  background-repeat: no-repeat;
  /* padding: 2.6042vw; */
  /* height: 167.7083vw; */
  height: 260.4167vw;
}
/* 시계 */
.box {
  width: 40%;
  height: 10.4167vw;
  float: left;
  background-color: white;
  margin: 1.3021vw 0.7813vw;
  border-radius: 0.2604vw;
  /* margin-left: 50%;
    transform: translate(-50%); */
  left: 28%;
}
.box1 {
  background-color: #86bdf0;
}

.shadow1 {
  position: relative;
  box-shadow: 0 0.0521vw 0.2083vw rgba(0, 0, 0, 0.3),
    0 0 1.0417vw rgba(0, 0, 0, 0.1) inset;
}
/*****************************************************************dashed border
  ****************************************************************/
.shadow1 h3 {
  margin-left: 4%;
  margin-top: 1.25vw;
  border: 0.1042vw dashed #ffd662;
  border-radius: 0.2604vw;
  font-size: 2.3438vw;
  font-family: "Didact Gothic", sans-serif;
  font-weight: 600;
  text-align: center;
  /* padding-top:3.1250vw; */
  color: #ffd662;
  line-height: 3.6458vw;
  width: 36.4583vw;
  height: 7.8125vw;
}
/****************************************************************
  *styling shadows
  ****************************************************************/
.shadow1:before,
.shadow1:after {
  position: absolute;
  content: "";
  bottom: 0.625vw;
  left: 0.7813vw;
  top: 80%;
  width: 45%;
  background: #729fc9;
  z-index: -1;
  -webkit-box-shadow: 0 1.0417vw 0.7813vw #a1b8ce;
  -moz-box-shadow: 0 1.0417vw 0.7813vw #a1b8ce;
  box-shadow: 0 1.0417vw 0.7813vw #a1b8ce;
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  transform: rotate(-6deg);
}
.shadow1:after {
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  transform: rotate(6deg);
  right: 0.7813vw;
  left: auto;
}
/* .memory--section .memory--backgroundC{
    animation: fadeIn 3s;
    position: absolute;
} */

.memory--section .memory--img1 {
  position: absolute;
  margin-top: 36.4583vw;
  margin-left: 20%;
  animation: fadeInLeft 1s;
  /* z-index:  */
}
.memory--section .memory--text1 {
  animation: fadeInDown 1s;
  position: absolute;
  right: 7.8125vw;
  margin-top: 36.4583vw;
}
.memory--section .memory--img2 {
  position: absolute;
  margin-top: 67.7083vw;
  margin-left: 62.5vw;
  animation: fadeInRight 1s;
}

.memory--section .memory--text2 {
  position: absolute;
  margin-top: 67.7083vw;
  margin-left: 10.4167vw;
  animation: fadeInDown 1s;
}

.memory--section .memory--img3 {
  position: absolute;
  margin-top: 109.375vw;
  margin-left: 10.4167vw;
  animation: fadeInLeft 0.5s;
}

.memory--section .memory--img4 {
  position: absolute;
  margin-top: 117.1875vw;
  margin-left: 72.9167vw;
  /* animation: fadeIn 1s; */
}

.memory--section .memory--img5 {
  position: absolute;
  margin-top: 103.4896vw;
  margin-left: 72.9167vw;
  animation: fadeInUp 0.5s;
}
.memory--section .memory--img6 {
  position: absolute;
  margin-top: 111.9792vw;
  margin-left: 59.8958vw;
  animation: fadeInRight 0.5s;
}
.memory--section .memory--img7 {
  position: absolute;
  margin-top: 127.6042vw;
  margin-left: 59.8958vw;
  animation: fadeInRight 0.5s;
}

.memory--section .memory--img8 {
  position: absolute;
  margin-top: 151.0417vw;
  /* margin-left: 59.8958vw; */
  animation: flash 0.5s;
}

.memory--box {
  position: absolute;
  display: flex;
  overflow: visible;
  margin-top: 164.0625vw;
  margin-left: -10.4167vw;
  /* margin-left:  */
}
.memory--section .memory--img9 {
  /* position: absolute; */

  width: 23.4375vw;
  height: 18.2292vw;
}
