@charset "utf-8";

/* 폰트 설정 */
@font-face {
  font-family: "a발레리나";
  src: url(/font/A발레리나.woff);
  transform: rotate(0.04deg);
}
@font-face {
  font-family: "a발레리노";
  src: url(/font/A발레리노.woff);
  transform: rotate(0.04deg);
}
@font-face {
  font-family: "a시월구일1";
  src: url(/font/a시월구일1.woff);
  transform: rotate(0.04deg);
}
@font-face {
  font-family: "a시월구일2";
  src: url(/font/a시월구일2.woff);
  transform: rotate(0.04deg);
}
@font-face {
  font-family: "a시월구일3";
  src: url(/font/a시월구일3.woff);
  transform: rotate(0.04deg);
}
@font-face {
  font-family: "a시월구일4";
  src: url(/font/a시월구일4.woff);
  transform: rotate(0.04deg);
}
@font-face {
  font-family: "GmarketSansBold";
  src: url(/font/GmarketSansBold.woff);
  transform: rotate(0.04deg);
}
@font-face {
  font-family: "GmarketSansLight";
  src: url(/font/GmarketSansTTFLight.woff);
  transform: rotate(0.04deg);
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url(/font/GmarketSansTTFMedium.woff);
  transform: rotate(0.04deg);
}

/* 메인 이미지 영역 */
.main {
  width: 100vw;
  height: 36.4583vw;
  position: relative;
  /* margin-bottom: 6.2500vw; */
  margin: auto;
}

.main img {
  margin: auto;
}

.main .text1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 13.0208vw;
  height: 3.3854vw;
  color: white;
  font-size: 2.6042vw;
  font-family: "a발레리노";
  text-align: center;
  padding-top: 2.0833vw;
}

/* 운휴 정보 (캘린더) */
.date {
  width: 68.75vw;
  height: 41.6667vw;
  margin: auto;
  margin-top: 6.25vw;
  color: #484848;
  margin-bottom: 2.6042vw;
}

.date .date-info {
  width: 68.75vw;
  height: 13.0208vw;
  border-top: 0.0417vw solid #989898;
  border-bottom: 0.0417vw solid #989898;
  position: relative;
  margin: auto;
}

/* 캘린더 모달창 */

.date .date-info .today-date-info {
  width: 68.75vw;
  height: 5.2083vw;
  text-align: center;
  padding-top: 3.6458vw;
  font-family: "a시월구일2";
  font-size: 1.5625vw;
  margin: auto;
}
.date .date-info .today-time-info {
  width: 68.75vw;
  height: 7.8125vw;
  text-align: center;
  padding-top: 1.0417vw;
  font-size: 2.6042vw;
  font-family: "a시월구일3";
  color: #86bdf0;
}

.date .hoilday-info {
  width: 68.75vw;
  height: 28.6458vw;
  margin: auto;
}
.date .hoilday-info h2 {
  width: 68.75vw;
  height: 6.25vw;
  text-align: center;
  padding-top: 3.125vw;
  font-family: "a시월구일1";
  font-size: 1.5625vw;
}
.date .hoilday-info .info-img {
  width: 68.75vw;
  height: 22.3958vw;
  display: flex;
  justify-content: space-around;
  padding-top: 2.0833vw;
}
.date .hoilday-info .info-img figure {
  width: 25vw;
  height: 18.2292vw;
}
.date .hoilday-info .info-img figure img {
  width: 25vw;
  height: 15.625vw;
  border-radius: 0.7813vw;
}
.date .hoilday-info .info-img figure figcaption {
  text-align: center;
  font-family: "GmarketSansMedium";
  font-size: 1.0417vw;
  padding-top: 0.7813vw;
}

/* 공지사항 영역 */
.reference {
  width: 68.75vw;
  height: 7.8125vw;
  display: flex;
  margin: auto;
  border: 0.0417vw solid #989898;
  margin-bottom: 6.25vw;
}
.reference .icon-img {
  margin: 2.0833vw 1.0417vw 0 0.5208vw;
}
.reference .icon-img img {
  width: 100%;
}

.reference p {
  font-family: "GmarketSansLight";
  font-size: 0.7813vw;
  margin-top: 2.8646vw;
}

/* 푸터 영역 */
footer {
  width: 100vw;
  height: 10.4167vw;
  background-color: #434556;
  color: #d8d8d8;
  font-size: 0.625vw;
  line-height: 1.5;
  margin: auto;
}
footer ul li {
  list-style: none;
  font-family: gmarket;
  text-align: center;
}
.footer--logo {
  padding: 1.0417vw 0 0.5208vw;
  margin-left: 50%;
  transform: translate(-50%);
}
.footer--logo img {
  margin-left: 50%;
  transform: translate(-50%);
}
footer span {
  margin-left: 1.0417vw;
}
