@charset "utf-8";

/* 폰트 설정 */
@font-face {
  font-family: "a발레리나";
  src: url(/font/A발레리나.woff);
  transform: rotate(0.04deg);
}
@font-face {
  font-family: "a발레리노";
  src: url(/font/A발레리노.woff);
  transform: rotate(0.04deg);
}
@font-face {
  font-family: "a시월구일1";
  src: url(/font/a시월구일1.woff);
  transform: rotate(0.04deg);
}
@font-face {
  font-family: "a시월구일2";
  src: url(/font/a시월구일2.woff);
  transform: rotate(0.04deg);
}
@font-face {
  font-family: "a시월구일3";
  src: url(/font/a시월구일3.woff);
  transform: rotate(0.04deg);
}
@font-face {
  font-family: "a시월구일4";
  src: url(/font/a시월구일4.woff);
  transform: rotate(0.04deg);
}
@font-face {
  font-family: "GmarketSansBold";
  src: url(/font/GmarketSansBold.woff);
  transform: rotate(0.04deg);
}
@font-face {
  font-family: "GmarketSansLight";
  src: url(/font/GmarketSansTTFLight.woff);
  transform: rotate(0.04deg);
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url(/font/GmarketSansTTFMedium.woff);
  transform: rotate(0.04deg);
}

/* 지도 영역 */
.map {
  width: 100vw;
  height: 54.6875vw;
  padding-top: 5.2083vw;
  margin: auto;
}
.map .inner {
  width: 68.75vw;
  height: 49.4792vw;
  margin: auto;
}
.map .google-map .title {
  width: 68.75vw;
  height: 15.625vw;
  position: relative;
}
.map .google-map .title .title1 {
  font-family: "a발레리노";
  font-size: 2.6042vw;
  color: #484848;
  width: 13.5417vw;
  height: 3.3854vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-bottom: 0.1563vw solid #484848;
  text-align: center;
}
.map .google-map iframe {
  width: 68.75vw;
  height: 26.0417vw;
  margin: auto;
}

/* 지도 버튼 영역 */
.map .map-btn {
  width: 68.75vw;
  height: 5.2083vw;
  position: relative;
}
.map .map-btn .btn {
  width: 10.4167vw;
  height: 2.6042vw;
  border: 0.2083vw solid #86bdf0;
  border-radius: 1.5625vw;
  position: absolute;
  top: 0;
  bottom: 0vw;
  left: 0;
  right: 0;
  margin: auto;
}
.map .map-btn .btn:hover {
  box-shadow: 0.0521vw 0.0521vw 0.1042vw #484848;
}
.map .map-btn .btn a button {
  font-family: "GmarketSansMedium";
  font-size: 0.7813vw;
  color: #86bdf0;
  width: 10vw;
  height: 2.1875vw;
  text-align: center;
}

/* 지도 주소 영역 */
.map .address {
  width: 68.75vw;
  height: 2.6042vw;
}
.map .address .text {
  width: 26.0417vw;
  height: 2.0833vw;
  display: flex;
}
.map .address .text img {
  width: 1.4583vw;
  height: 1.4583vw;
}
.map .address .text p {
  font-family: "GmarketSansLight";
  font-size: 0.7813vw;
}
.map .address .text:hover p {
  text-decoration: underline;
}

/* 대중교통 별 오는 길 안내 영역 */
.transport {
  width: 68.75vw;
  height: 15.625vw;
  margin: auto;
}
.transport .inner {
  width: 68.75vw;
  height: 13.0208vw;
  margin: auto;
}
.transport .inner tr {
  margin-right: 2.6042vw;
}
.transport .inner tr .title2 {
  font-family: "a시월구일2";
  font-size: 1.1458vw;
  color: #484848;
}
.transport .inner tr td {
  font-family: "GmarketSansLight";
  font-size: 0.7813vw;
  line-height: 1.0417vw;
  border: none;
}
.transport .inner tr td span {
  font-family: "GmarketSansMedium";
}

/* 주차 안내 영역 */
.parking {
  width: 68.75vw;
  height: 28.125vw;
  margin: auto;
  margin-top: 6.25vw;
  color: #484848;
  margin-bottom: 5.2083vw;
}
.parking .inner {
  width: 68.75vw;
  height: 20.8333vw;
}
.parking .inner,
tr,
td,
th {
  border: 0.0417vw solid #989898;
  border-collapse: collapse;
}
.parking .inner caption {
  text-align: left;
  font-family: "a시월구일2";
  font-size: 1.5625vw;
  margin-bottom: 0.5208vw;
}
.parking .inner tr td {
  text-align: center;
  font-family: "GmarketSansLight";
  font-size: 0.7813vw;
}
.parking .inner tr td span {
  font-family: "GmarketSansMedium";
}
.parking .inner tr .title2 {
  font-family: "a시월구일2";
  font-size: 1.3021vw;
}
.parking .inner tr th {
  font-family: "GmarketSansMedium";
  font-size: 0.8333vw;
}

/* 부가설명 영역 */
.parking .reference {
  width: 68.75vw;
  height: 5.2083vw;
  margin-top: 1.0417vw;
  border: none;
}
.parking .reference p {
  font-family: "GmarketSansLight";
  font-size: 0.7813vw;
  color: #484848;
}

/* 푸터 영역 */
footer {
  height: 10.4167vw;
  background-color: #434556;
  color: #d8d8d8;
  font-size: 0.625vw;
  line-height: 1.5;
}
footer ul li {
  list-style: none;
  font-family: gmarket;
  text-align: center;
}
.footer--logo {
  padding: 1.0417vw 0 0.5208vw;
  margin-left: 50%;
  transform: translate(-50%);
}
.footer--logo img {
  margin-left: 50%;
  transform: translate(-50%);
}
footer span {
  margin-left: 1.0417vw;
}
