@charset "utf-8";

/* 폰트 설정 */
@font-face {
  font-family: "a발레리나";
  src: url(/font/A발레리나.woff);
  transform: rotate(0.04deg);
}
@font-face {
  font-family: "a발레리노";
  src: url(/font/A발레리노.woff);
  transform: rotate(0.04deg);
}
@font-face {
  font-family: "a시월구일1";
  src: url(/font/a시월구일1.woff);
  transform: rotate(0.04deg);
}
@font-face {
  font-family: "a시월구일2";
  src: url(/font/a시월구일2.woff);
  transform: rotate(0.04deg);
}
@font-face {
  font-family: "a시월구일3";
  src: url(/font/a시월구일3.woff);
  transform: rotate(0.04deg);
}
@font-face {
  font-family: "a시월구일4";
  src: url(/font/a시월구일4.woff);
  transform: rotate(0.04deg);
}
@font-face {
  font-family: "GmarketSansBold";
  src: url(/font/GmarketSansBold.woff);
  transform: rotate(0.04deg);
}
@font-face {
  font-family: "GmarketSansLight";
  src: url(/font/GmarketSansTTFLight.woff);
  transform: rotate(0.04deg);
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url(/font/GmarketSansTTFMedium.woff);
  transform: rotate(0.04deg);
}

* {
  margin: auto;
}

.inner {
  margin: auto;
}

/* 가이드맵 영역 */
.guide-map {
  width: 100vw;
  height: 62.5vw;
  padding-top: 5.2083vw;
  margin: auto;
}
.guide-map .text1 {
  width: 68.75vw;
  height: 15.625vw;
  position: relative;
}
.guide-map .text1 h1 {
  width: 15.625vw;
  height: 3.3854vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-family: "a발레리노";
  font-size: 2.6042vw;
  color: #484848;
  border-bottom: 0.1563vw solid #484848;
  text-align: center;
}
.guide-map .guide-map-img {
  width: 68.75vw;
  height: 33.8542vw;
  margin: auto;
}

/* 가이드맵 버튼 영역 */
.guide-map .btn {
  width: 68.75vw;
  height: 5.2083vw;
  position: relative;
  margin: auto;
}
.guide-map .btn a {
  width: 10.4167vw;
  height: 2.6042vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 0.2083vw solid #86bdf0;
  border-radius: 1.5625vw;
}
.guide-map .btn a:hover {
  box-shadow: 0.0521vw 0.0521vw 0.1042vw #484848;
}
.guide-map .btn a button {
  font-family: "GmarketSansMedium";
  font-size: 0.7813vw;
  color: #86bdf0;
  width: 10vw;
  height: 2.1875vw;
  text-align: center;
}

/* 테마랜드 영역 */
.themeland {
  width: 100vw;
  height: 83.3333vw;
  margin-top: 1.0417vw;
  margin: auto;
}
.themeland .text2 {
  width: 68.75vw;
  height: 13.0208vw;
  position: relative;
  margin-bottom: 1.5625vw;
}
.themeland .text2 img {
  position: absolute;
  top: 0;
  bottom: 10;
  left: 0;
  right: 0;
  margin: auto;
  width: 30%;
}
.themeland .text2 h1 {
  position: absolute;
  top: 2.6042vw;
  bottom: 0vw;
  left: 0;
  right: 0;
  margin: auto;
  width: 10.4167vw;
  height: 1.5625vw;
  font-size: 1.3021vw;
  font-family: "a시월구일1";
  color: white;
  text-align: center;
}
.themeland .introduce {
  width: 68.75vw;
  height: 70.3125vw;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;
}
.themeland .introduce div {
  width: 19.7917vw;
  height: 18.2292vw;
}

/* 테마랜드 이미지 */
.themeland .introduce div figure {
  width: 19.7917vw;
  height: 11.1979vw;
  margin-bottom: 0.5208vw;
}
.themeland .introduce div figure img {
  width: 100%;
  border-radius: 0.7813vw;
}

/* 테마랜드 설명 텍스트 */
.themeland .introduce div figcaption {
  width: 19.7917vw;
  height: 5.2083vw;
}
.themeland .introduce div figcaption h2 {
  font-family: "a시월구일2";
  font-size: 1.0417vw;
  color: #484848;
  margin-bottom: 0.5208vw;
}
.themeland .introduce div figcaption p {
  font-family: "GmarketSansLight";
  color: #484848;
  font-size: 0.7813vw;
}
.themeland .introduce div figcaption span {
  font-family: "GmarketSansMedium";
  font-size: 0.625vw;
}

/* 이벤트 배너 영역 */
.themeland .introduce .event-banner {
  width: 44.2708vw;
  height: 13.0208vw;
  position: absolute;
  top: 46.875vw;
  left: 24.4792vw;
}
.themeland .introduce .event-banner a img {
  border-radius: 0.7813vw;
}

/* 이벤트 배너 모달 */
.themeland .introduce .popup {
  width: 44.2708vw;
  height: 11.1979vw;
  position: relative;
}
.themeland .introduce .popup a {
  text-decoration: none;
}
.themeland .introduce .popup a span {
  /* padding: 1.0417vw; */
  font-weight: bolder;
  color: white;
  transition: 0.3s;
  transform: scale(1);
}

.themeland .introduce .popup a span img {
  border-radius: 0.7813vw;
}

.themeland .introduce .popup a span:hover {
  transform: scale(1.5);
}
.themeland .introduce .popup .overlay {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 9999;
  transition: 0.8s;
}

.themeland .introduce .popup .modal-backgroud {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}

.themeland .introduce .popup .modal-backgroud .overlay:target {
  width: 28.125vw;
  height: 28.125vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.themeland .introduce .popup .modal-backgroud .overlay img {
  height: 100%;
  border-radius: 0.7813vw;
}
.themeland .introduce .popup .modal-backgroud .overlay:target img {
  animation: zoomdanfade 0.5s 1;
}

.themeland .introduce .popup .modal-backgroud .overlay .close {
  text-decoration: none;
  font-weight: bold;
  color: black;
  position: absolute;
  top: 0.7813vw;
  font-size: 0.5208vw;
  line-height: 0.3646vw;
  padding: 0.1563vw;
  border: 0.0521vw solid rgba(0, 0, 0, 0.5);
  border-radius: 0.5208vw;
  background-color: rgba(255, 255, 255, 1);
}
.themeland .introduce .popup .modal-backgroud .overlay:target .close {
  animation: slide 1s;
}

/*animasi*/
@keyframes zoomdanfade {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes slide {
  0% {
    opacity: 0;
    top: -1.0417vw;
  }
  100% {
    opacty: 0.5;
    top: 0.7813vw;
  }
}
@keyframes slideup {
  0% {
    bottom: -1.0417vw;
  }
  100% {
    bottom: 1.0417vw;
  }
}

/* 푸터 영역 */
footer {
  height: 10.4167vw;
  background-color: #434556;
  color: #d8d8d8;
  font-size: 0.625vw;
  line-height: 1.5;
}
footer ul li {
  list-style: none;
  font-family: gmarket;
  text-align: center;
}
.footer--logo {
  padding: 1.0417vw 0 0.5208vw;
  margin-left: 50%;
  transform: translate(-50%);
}
.footer--logo img {
  margin-left: 50%;
  transform: translate(-50%);
}
footer span {
  margin-left: 1.0417vw;
}
