@charset "utf-8";

/* font 설정 */
@font-face {
  font-family: ball2;
  src: url(/font/A발레리노.woff);
}
@font-face {
  font-family: swgi1;
  src: url(/font/a시월구일1.woff);
}

@font-face {
  font-family: gmarket;
  src: url(/font/GmarketSansTTFMedium.woff);
}

@font-face {
  font-family: gmarket1;
  src: url(/font/GmarketSansTTFLight.woff);
}
/* 파크 티켓 전체 박스 설정 */

#wrap {
  width: 100%;
  margin: auto;
  background-color: transparent;
  color: #484848;
  padding-top: 15.625vw;
  font-size: 0.7813vw;
  font-family: gmarket;
}

/* 파크티켓 제목 */
#wrap h2 {
  font-size: 2.6042vw;
  font-family: ball2;
  text-align: center;
  width: 100%;
  font-weight: 100;
}
#wrap > h2 > p {
  border-bottom: 0.1563vw solid #484848;
  width: 26.0417vw;
  margin: 0 auto 5.2083vw;
}

/* 부제목 공통 적용 */
.sub--title {
  display: flex;
  margin-top: 1.0417vw;
}
.sub--title p {
  font-family: swgi1;
  font-size: 1.3021vw;
}

/* 날짜에 따른 파크 티켓가격 */
section.date--ticket {
  width: 64%;
  height: 20.8333vw;
  margin: 1.5625vw auto 0;
  position: relative;
}

.date--ticket h2 {
  margin-top: 2.0833vw;
}

.sub--title p {
  padding-top: 1.0417vw;
  padding-left: 1.0417vw;
}
section.date--ticket > div {
  font-size: 0.8333vw;
  padding-left: 2.6042vw;
}
/* 날짜별 테이블 색 표시 */
.date__right {
  padding-left: 31.25vw;
  display: flex;
}
.date__right span.box {
  width: 1.3021vw;
  height: 1.3021vw;
  display: inline-block;
  margin: 0 0.5208vw;
  border-radius: 0.2604vw;
}
.box__text {
  width: 4.4271vw;
  height: 1.5625vw;
  line-height: 1.5625vw;
}
.date__right span.box1 {
  background-color: #ef705d;
}
.date__right span.box2 {
  background-color: #04c2e9;
}
.date__right span.box3 {
  background-color: #eca111;
}
.date__right span.box4 {
  background-color: #00aa64;
}

/* 날짜 테이블 월 버튼 */
.date--ticket__month {
  display: inline-block;
  font-family: swgi1;
  width: 2.6042vw;
  height: 2.6042vw;
  line-height: 2.0833vw;
  text-align: center;
  border: 0.0521vw solid black;
  border-radius: 0.5208vw;
  padding: 0.1042vw;
  font-size: 0.9375vw;
}
.date--ticket__month:first-child {
  margin-left: 0.2604vw;
}
.date--ticket__month:nth-child(2) {
  margin: 0 0.1563vw;
}
.calendar {
  margin-top: 1.0417vw;
}

.date__right {
  margin-left: 2.6042vw;
  padding-top: 1.5625vw;
}

.calendar table {
  width: 100%;
  height: 13.0208vw;
  margin: auto;
  position: absolute;
  border-collapse: collapse;
}

.calendar table tr td,
.calendar table tr th {
  width: 7.8125vw;
  height: 3.6458vw;
}

.calendar table tr th {
  text-align: center;
  border-radius: 0.2604vw;
  padding-left: 0.3646vw;
}

.calendar table tr td {
  color: #000;
  padding: 0.5208vw 0 1.0417vw 0.5208vw;
  border-radius: 0.5208vw;
  text-align: center;
  border: 0.0521vw solid #ccc;
}

/* 테이블 셀별 색 */
.table__color {
  border-radius: 0.2604vw;
  width: 1.0417vw;
  height: 1.0417vw;
  margin-left: 3.125vw;
  margin-top: 0.5208vw;
}
.table__color1 {
  background-color: #ef705d;
}
.table__color2 {
  background-color: #04c2e9;
}
.table__color3 {
  background-color: #eca111;
}
.table__color4 {
  background-color: #00aa64;
}

/* 토,일 글자색 */

.text__red {
  color: #e28262;
}
.text__blue {
  color: #93cfe4;
}

/* 버튼 클릭 효과 */

.is_on1 .btn1 {
  font-weight: bold;
  background-color: #ffd662;
  box-shadow: 0.0521vw 0.0521vw 0.1563vw inset #484848,
    0.0521vw 0.0521vw 0.1563vw #484848;
}

/* 날짜 버튼 클릭시 팝업 */
.tab_menu1 {
  display: flex;
}
.cont1 {
  display: none;
}
div.is_on1 .cont1 {
  display: block;
}

/* 테이블 중앙 맞추기 */
.table1 {
  padding-left: 5.7292vw;
  padding-top: 1.5625vw;
}
.table2 {
  padding-left: 2.8646vw;
  padding-top: 1.5625vw;
}
.table3 {
  padding-left: 0vw;
  padding-top: 1.5625vw;
}

/* 티켓 종류에 따른 파크 티켓가격 */
section.class--ticket {
  width: 64%;
  height: 20.8333vw;
  margin: 20.8333vw auto 7.8125vw;
}

section.class--ticket h2 {
  font-size: 2.0833vw;
  margin: 2.6042vw 0.5208vw;
  margin-bottom: 4.1667vw;
}
section.class--ticket .tab_menu {
  position: relative;
  width: 100%;
  height: 20.8333vw;
}
section.class--ticket ul {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 2.0833vw auto 0;
}
section.class--ticket ul li a {
  font-size: 1.3021vw;
  font-family: swgi1;
  width: 15.625vw;
  height: 2.6042vw;
  border: 0.0521vw solid #484848;
  text-align: center;
  line-height: 2.6042vw;
  border-radius: 0.5208vw;
  margin-right: 5.2083vw;
}

/* 버튼 클릭 효과 */

.is_on .btn {
  font-weight: bold;
  background-color: #ffd662;
  box-shadow: 0.1042vw 0.1042vw 0.1042vw inset #333,
    0.1563vw 0.1563vw 0.1042vw #333;
  margin-bottom: 1.5625vw;
}

/* 티켓 종류에 따른 파크 티켓가격 버튼 클릭시 팝업 */

.cont {
  display: none;
}
li.is_on .cont {
  display: block;
}

/* 1일권 */

section.class--ticket ul.class--ticket__sub li ul.age {
  position: absolute;
  width: 90%;
  height: 10.4167vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5625vw;
}
.age li:first-child {
  margin-left: 1.9271vw;
}
.age li:last-child {
  margin-right: 1.1979vw;
}
.age img {
  display: block;
  text-align: center;
  width: 5.2083vw;
  padding-left: 1.0417vw;
}
.age__text {
  font-size: 1.1458vw;
  font-weight: bold;
}
section.class--ticket ul.class--ticket__sub li ul.age li {
  text-align: center;
  box-shadow: 0vw 0vw 0.3646vw rgba(0, 0, 0, 0.5);
  border-radius: 0.7813vw;
  padding: 2.0833vw 3.125vw;
}

/* 입장시간지정권 */

section.class--ticket .timetable {
  position: absolute;
  top: 3.6458vw;
  right: 2.8646vw;
  width: 80%;
  height: 11.4583vw;
  text-align: center;
  border-collapse: collapse;
  border: 0.1042vw solid #484848;
  margin-top: 1.5625vw;
}

section.class--ticket .timetable tr th,
section.class--ticket .timetable tr td {
  width: 1.0417vw;
  height: 1.0417vw;
  border: 0.0521vw solid #484848;
  line-height: 1.0417vw;
}

.timetable .bg {
  background-color: rgba(134, 189, 240, 0.3);
  height: 2.0833vw;
  position: relative;
  padding-left: 1.0417vw;
}
.timetable .bg img {
  display: block;
  position: absolute;
  top: 0.4167vw;
  height: 2.0833vw;
}
.timetable .bg p {
  padding-left: 0.5208vw;
}
/* 장애가 있는분 전용티켓 */

.disab {
  position: absolute;
  right: 0.0521vw;
}

/* 티켓 구매 방법 */

.buy--ticket {
  width: 80%;
  margin: 3.6458vw auto 0;
}
/* 티켓 구매 방법 제목 */
.buy--ticket h2 {
  margin: 2.6042vw 0vw 4.1667vw 9.375vw;
}
/* 티켓 구매 전체 박스 */
.buy--total {
  display: flex;
}

/* 티켓 구매 왼쪽 부분 */
.buy--left {
  width: 50%;
}
.buy--text {
  font-size: 1.0417vw;
  font-weight: 600;
  margin-bottom: 1.5625vw;
  padding-left: 11.4583vw;
}

/* 티켓 구매 왼쪽 표 */

.buy--total table {
  width: 31.25vw;
  height: 15.625vw;
  margin: auto;
  border-collapse: collapse;
}
.buy--total td,
.buy--total th {
  padding: 1.0417vw;
  text-align: center;
  border: 0.0521vw solid #86bdf0;
}
.buy--total th {
  background-color: rgba(134, 189, 240, 0.4);
}

/* 티켓 구매 오른쪽 부분 */
.buy--right {
  width: 50%;
}
.text__height {
  padding-bottom: 0.5208vw;
  margin-left: 3.6458vw;
}
.buy--text1 {
  display: flex;
  margin-top: 1.0417vw;
  margin-left: 3.6458vw;
}
.buy--text1 p {
  padding-left: 1.0417vw;
  padding-top: 0.5208vw;
  font-size: 0.9896vw;
  color: #e15858;
}
.buy--right > div:last-child {
  margin-top: 1.0417vw;
}

/* 유의사항 */
.notice {
  width: 72%;
  margin: auto;
  position: relative;
  margin-bottom: 5.2083vw;
}
.notice h2 {
  margin: 3.125vw 0;
}
.notice ul li {
  margin: 0.2604vw 0;
}

/* 유의사항 온라인으로 변경 가능 호버 효과*/
.notice__text {
  text-decoration: underline;
  font-weight: bold;
  color: #e15858;
  margin-left: 0.2604vw;
}
.effect {
  display: flex;
}
.effect a {
  margin-left: 0.5208vw;
}
.effect1 {
  position: absolute;
  width: 42%;
  background-color: #daebfa;
  right: 0.5208vw;
  display: none;
  padding-left: 0.5208vw;
}
.effect a:hover .effect1 {
  display: block;
}
.effect1 li.text2 {
  display: flex;
}
.text2 img {
  margin-right: 0.4167vw;
}

/* 푸터영역 */
footer {
  width: 100%;
  height: 10.4167vw;
  background-color: #434556;
  color: #d8d8d8;
  font-size: 0.625vw;
  line-height: 1.5;
}
footer ul li {
  list-style: none;
  font-family: gmarket1;
  text-align: center;
}
.footer--logo {
  padding: 1.0417vw 0 0.5208vw;
  margin-left: 50%;
  transform: translate(-50%);
}
.footer--logo img {
  margin-left: 50%;
  transform: translate(-50%);
}
footer span {
  margin-left: 1.0417vw;
}
