@charset "utf-8";

/* font 설정 */
@font-face {
  font-family: ball2;
  src: url(/font/A발레리노.woff);
}
@font-face {
  font-family: swgi1;
  src: url(/font/a시월구일1.woff);
}
@font-face {
  font-family: gmarket;
  src: url(/font/GmarketSansTTFLight.woff);
}
/* 파크 티켓 전체 박스 설정 */
#wrap {
  width: 100%;
  margin: auto;
  height: 83.3333vw;
  background-color: transparent;
  color: #484848;
  padding-top: 15.625vw;
  font-size: 0.7813vw;
  font-family: gmarket;
}

.hidden {
  display: none;
}

/* 공통 글자 지정 */
.text1 {
  font-size: 1.3021vw;
  font-family: swgi1;
  margin-bottom: 2.6042vw;
  color: black;
}
/* 고객 지원 제목 */
#wrap > h2 {
  font-size: 2.6042vw;
  font-family: ball2;
  text-align: center;
  margin: 0 auto 6.25vw;
  width: 11.9792vw;
  border-bottom: 0.1563vw solid #484848;
  font-weight: 100;
}
/* 고객 지원 상단 */
section.customer__top {
  width: 60%;
  display: flex;
  margin: auto;
}
section.customer__top ul {
  margin-bottom: 2.6042vw;
}
section.customer__top ul:last-child {
  margin-bottom: 0vw;
}
section.customer__top ul li {
  margin-bottom: 1.5625vw;
  line-height: 1.3021vw;
}
section.customer__top ul li:first-child {
  margin-bottom: 3.125vw;
}
.customer__top__right {
  margin-left: 13.0208vw;
  margin-top: 2.6042vw;
}
.customer__top__left1 {
  margin-bottom: 5.2083vw;
}

/* 고객 지원 중단 */
.customer__mid {
  width: 60%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 2.6042vw auto 5.2083vw;
  color: black;
}
.customer__mid a {
  margin-left: 1.5625vw;
}
/* 고객 지원 중간 이미지 위치 조절 */
.box1 {
  margin-left: 1.7188vw;
  margin-bottom: 0.5208vw;
}
.box2 {
  margin-left: 1.0417vw;
  margin-bottom: 0.5208vw;
}
.go--box {
  width: 5.2083vw;
  height: 2.6042vw;
  background-color: #d8d8d8;
  line-height: 2.6042vw;
  text-align: center;
  margin-top: 0.7813vw;
  margin-left: 3.6458vw;
  cursor: pointer;
}
/* 바로가기 상자 호버효과 */
.go--box:hover {
  background-color: #ffd662;
  font-weight: bold;
}
.go--box1 {
  margin-left: 4.1667vw;
}
.go--box2 {
  margin-left: 3.125vw;
}
.go--box3 {
  margin-left: 3.9063vw;
}
.box__text {
  line-height: 1.3;
}
/* 고객 지원 하단 */
.customer__bot {
  width: 60%;
  margin: auto;
}
.customer__bot li {
  line-height: 1.1458vw;
  margin-bottom: 1.5625vw;
}
/* 푸터영역 */
footer {
  height: 10.4167vw;
  background-color: #434556;
  color: #d8d8d8;
  font-size: 0.625vw;
  line-height: 1.5;
}
footer ul li {
  list-style: none;
  font-family: gmarket;
  text-align: center;
}
.footer--logo {
  padding: 1.0417vw 0 0.5208vw;
  margin-left: 50%;
  transform: translate(-50%);
}
.footer--logo img {
  margin-left: 50%;
  transform: translate(-50%);
}
footer span {
  margin-left: 1.0417vw;
}
