@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  position: relative;
}

body {
  height: 0;
  font-size: 0.7292vw;
  padding-bottom: 26.0417vw;
  text-align: center;
}

a,
button {
  cursor: pointer;
  color: #000;
}

em {
  font-style: normal;
}

.row {
  max-width: 72.9167vw;
  margin: auto;
}

.imx {
  margin: 0 0.8333vw;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear::after {
  content: "";
  clear: both;
  width: 100%;
  height: 0;
  overflow: hidden;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: GmarketL;
  src: url("/font/GmarketSansTTFLight.woff");
}

@font-face {
  font-family: ball2;
  src: url("/font/A발레리노.woff");
}

@font-face {
  font-family: swgi1;
  src: url("/font/a시월구일1.woff");
}

img {
  display: block;
}

a {
  display: block;
  color: black;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

:root {
  --color--: rgba(255, 255, 255, 0.7);
}

/* 헤더 시작 */
header {
  width: 100%;
  height: 5.2083vw;
  /* border: 0.0521vw solid #333; */
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  overflow: hidden;
  transition: height 0.4s;
  background: linear-gradient(
    var(--color--) 5.2083vw,
    rgba(255, 255, 255, 0.8) 0.0521vw
  );
  z-index: 200;
}

header .header--logo {
  /* border:0.0521vw solid red; */
  margin-left: 7.1875vw;
  margin-top: -0.5729vw;
}

nav {
  margin-left: 8.5938vw;
  margin-top: 2.5vw;
}

nav ul li {
  margin: 0 1.3021vw;
  font-family: GmarketSansMedium;
}

nav ul li a {
  text-align: center;
}

nav ul.main--menu {
  display: flex;
}

nav ul.main--menu > li {
}

nav ul.main--menu > li:nth-child(1) {
  margin-left: 2.6042vw;
}

.menuname--one {
  width: 4.9479vw;
  text-align: center;
  margin-left: 50%;
  transform: translate(-50%);
}

.menuname--two {
  width: 5.4688vw;
  text-align: center;
  margin-left: 50%;
  transform: translate(-50%);
}

.menuname--three {
  width: 4.9479vw;
  text-align: center;
  margin-left: 50%;
  transform: translate(-50%);
}

nav ul.main--menu > li > a {
  height: 2.0833vw;
  line-height: 2.0833vw;
  font-size: 1.0417vw;
  color: #333;
  display: block;
}

nav ul.main--menu > li > a:hover {
  border-bottom: 0.2604vw solid #294083;
}

nav ul.main--menu li ul.sub--menu {
  margin-top: 0.625vw;
  overflow: hidden;
}

nav ul.main--menu li ul.sub--menu li {
  margin-top: 1.5625vw;
}

nav ul.main--menu li ul.sub--menu li a {
  font-family: GmarketSansMedium;
  color: #757575;
  font-size: 0.7292vw;
}

nav ul.main--menu li ul.sub--menu li a:hover {
  font-weight: bold;
  text-decoration: underline;
  color: #454545;
}

.header--util {
  display: flex;
  margin-top: 2.8125vw;
  margin-left: 5.2083vw;
  position: relative;
}

.header--util .header--sns {
  display: flex;
  position: absolute;
  margin-top: -0.4167vw;
  margin-left: 2.6042vw;
}

.header--util .header--sns a:nth-child(3) {
  margin-top: 0.3646vw;
}

.header--util .header--sns a:nth-child(2) {
  margin: 0 0.625vw;
}

.header--util button.login--btn {
  position: absolute;
  margin-left: 14.5833vw;
  margin-top: -0.2083vw;
}

.header--menu-icon {
  position: absolute;
  margin-left: 18.4896vw;
  margin-top: -0.2083vw;
}

div.util--box {
  width: 6.25vw;
  position: fixed;
  font-family: GmarketSansMedium;
  margin-left: 68.2292vw;
  margin-top: 2.8125vw;
  background: linear-gradient(transparent 2.3958vw, var(--color--) 0.0521vw);
}

.util--box ul {
  z-index: 100;
}

.util--box ul button.util--lang {
  width: 3.3854vw;
  height: 1.4063vw;
  font-size: 1.0417vw;
  margin-right: 2.2917vw;
  margin-left: 1.875vw;
}

.util--box ul > li {
  display: none;
  text-align: center;
  margin-bottom: 0.7813vw;
  padding-bottom: 0.7813vw;
}

.util--box ul:hover > li {
  display: block;
}

.util--box ul > li > a {
  color: #666;
  font-size: 0.7292vw;
}

.util--box ul > li > a:hover {
  color: #333;
  text-decoration: underline;
}

.util--box ul li.util--li1 {
  margin-top: 2.6042vw;
}

.util--lang {
  display: flex;
}

.util--triangle {
  margin-top: 0.3125vw;
  margin-left: 0.2604vw;
  width: 0;
  height: 0;
  border-top: 0.5208vw solid #333;
  border-left: 0.2604vw solid transparent;
  border-right: 0.2604vw solid transparent;
}

.util--line {
  height: 1.3021vw;
  border-left: 0.1042vw solid #828282;
  margin-left: 11.4583vw;
}

/* 메인 슬라이드 */

/* page start */
#page-rides .bg-wrapper {
  height: 31.25vw;
  margin-bottom: 7.8125vw;
}

#page-rides .bg-wrapper .item-box {
  height: 100%;
}

#page-rides .bg-wrapper .item-box .item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 33.8542vw;
  text-align: center;
  max-width: 100vw;
  max-height: 36.4583vw;
  opacity: 0.8;
}

#page-rides .bg-wrapper .item-box .item .text-box {
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 10.4167vw;
  font-size: 3.3333vw;
  font-family: ball2;
}

#page-rides .bg-wrapper .item-box .item h2 {
  font-size: 2.5em;
  color: #fff;
  margin-bottom: 1.0417vw;
}

#page-rides .bg-wrapper .item-box .item p {
  color: #fff;
  font-size: 1.2em;
  word-break: keep-all;
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 2.0833vw;
}

#page-rides .bg-wrapper .item-box .item a {
  display: inline-block;
  width: 9.375vw;
  height: 2.6042vw;
  border: 0.0521vw #fff solid;
  color: #fff;
  line-height: 2.6042vw;
  font-size: 1.3em;
  transition: all 0.3s;
}

#page-rides .bg-wrapper .item-box .item::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
}

/* page end */

/* mani slider plug-In */
.owl-theme .owl-nav {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  z-index: 2;
  margin: 0;
}

.owl-theme .owl-nav button {
  padding: 0 !important;
  margin: 0 !important;
  height: auto !important;
}

.owl-theme .owl-nav button span {
  font-size: 7em;
  color: #fff;
  transition: all 0.3s;
}

.owl-theme .owl-nav button span:hover {
  color: #294083;
}

.owl-theme .owl-nav [class*="owl-"] {
  margin: 0;
  padding: 0;
  z-index: 2;
  background: none;
  height: auto;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: none;
}

.owl-prev {
  position: absolute;
  left: 0.8333vw;
  top: 0;
}

.owl-next {
  position: absolute;
  right: 0.8333vw;
  top: 0;
}

/* mani slider plug-In */

/* parade start */
#page-rides .parade-wrapper {
  position: relative;
}

#page-rides .parade-wrapper .text1 {
  font-size: 2.3438vw;
  font-weight: bold;
  margin: 10.9375vw;
  text-decoration-style: double;
  text-underline-position: under;
  border-radius: 0.2604vw;
  text-shadow: 0.0521vw 0.0521vw 0.1563vw;
  font-family: swgi1;
  color: #484848;
}

.m-img1 {
  position: absolute;
  transform: translate(80%, -98%);
  opacity: 0.7;
}

.m-img2 {
  position: absolute;
  transform: translate(-90%, 165%);
  opacity: 0.7;
}

.m-img3 {
  position: absolute;
  transform: translate(800%, 110%);
  opacity: 0.7;
}

#page-rides .parade-wrapper video {
  max-width: 80%;
  width: 80%;
  border-radius: 0.7813vw;
}

#page-rides .parade-wrapper .text2 {
  margin-top: 7.8125vw;
  font-size: 2.3438vw;
  font-weight: bold;
  font-family: swgi1;
  color: #484848;
  text-shadow: 0.0521vw 0.0521vw 0.1563vw;
}

#page-rides .parade-wrapper .text3 {
  color: red;
  font-family: GmarketL;
  margin-top: 0.5208vw;
  font-size: 0.7292vw;
}

/* parade end */

/* item start */
#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* 전체 박스 */
.content {
  max-width: 72.9167vw;
  width: 100%;
  margin: 10% 5% 0;
  transition: 0.3s ease;
}

@media screen and (max-width: 26.6667vw) {
  .content {
    margin: 5% 4% 0;
  }
}

/* Tabs menu */
.tabs {
  margin: 0;
  background-image: linear-gradient(135deg, #72a4ee 0%, #467cd3 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.1667vw;
  border-radius: 0.2604vw 0.2604vw 0 0;
}

@media screen and (max-width: 26.6667vw) {
  .tabs {
    height: 2.0833vw;
  }
}

/* Tab Links */
.tablinks {
  background: transparent;
  background-image: linear-gradient(
    90deg,
    transparent 70%,
    rgba(255, 255, 255, 0.2) 100%
  );
  border: none;
  outline: none;
  cursor: pointer;
  width: 25%;
  height: 4.1667vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8333vw;
  overflow: hidden;
  transition: 0.3s ease;
}

@media screen and (max-width: 26.6667vw) {
  .tablinks {
    height: 2.0833vw;
    font-size: 1.0417vw;
  }
}

.tablinks:before {
  content: "";
  width: 100%;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
  z-index: 2;
}

@media screen and (max-width: 26.6667vw) {
  .tablinks:hover::before {
    height: 0;
  }
}

/* Tab active */
.tablinks.active {
  background-color: rgba(255, 255, 255);
  z-index: 0;
  border-right: 0;
  border-left: 0;
  height: 5.7292vw;
  bottom: 0;
  overflow: hidden;
}

@media screen and (max-width: 26.6667vw) {
  .tablinks.active {
    height: 10.4167vw;
  }
}

.tablinks.active:before {
  content: "";
  width: 100%;
  height: 0.2604vw;
  top: 0;
  left: 0;
}

/* Tabs text */
.tablinks.active p,
.tablinks.active:hover p {
  opacity: 1;
  background: -webkit-linear-gradient(135deg, #3659e7 0%, #776dce 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: swgi1;
}

/* tab menu */
.tablinks p {
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: 0.3s ease;
  padding: 0;
  margin: 0;
  color: #f5f7fa;
  backface-visibility: hidden;
  font-weight: 400;
  font-size: 1.3021vw;
  font-family: swgi1;
}

.tablinks:hover p {
  color: white;
  opacity: 1;
}

@media screen and (max-width: 26.6667vw) {
  .tablinks:hover p {
    color: #686868;
    opacity: 0.6;
  }
}

@media screen and (max-width: 26.6667vw) {
  .tablinks p:before {
    display: none;
  }
}

/* tab content 내용*/
.wrapper_tabcontent {
  width: 100%;
  background-color: rgba(176, 186, 235, 0.2);
  margin-top: 0;
  margin-bottom: 10.4167vw;
  z-index: 3;
  position: relative;
  opacity: 1;
  padding: 1.0417vw 3.125vw 2.6042vw;
  overflow: hidden;
  transition: all 1s ease;
  top: 0;
}

/* img 바탕내용 */
.wrapper_tabcontent .img {
  max-width: 15.625vw;
  width: 100%;
  text-align: center;
  border-radius: 0.7813vw;
  margin-bottom: 0.7813vw;
}

/* img 내용 */
.wrapper_tabcontent .tabcontent .img img {
  max-width: 15.625vw;
  width: 100%;
  height: 10.4167vw;
  object-fit: cover;
  border-radius: 0.7813vw;
  margin-top: 2.6042vw;
  padding: 0;
  cursor: pointer;
  border: 0.0521vw solid #484848;
  box-shadow: 0.1042vw 0.0521vw 0.1042vw;
}

/* Text*/
.wrapper_tabcontent .tabcontent .img p {
  margin: 0.2604vw;
  font-size: 0.9375vw;
  font-family: GmarketL;
  transition: all 1s ease;
  animation: fadeEffect 0.6s ease;
  color: #484848;
  font-weight: bold;
}

.tabcontent {
  display: none;
  min-height: 9.375vw;
  width: 100%;
}

@keyframes tabEffect {
  from {
    top: -2.0833vw;
  }

  to {
    top: 0;
  }
}

.tabcontent.active {
  width: 100%;
  transition: all 1s ease;
  display: block;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

/* Tab content line */
.wrapper_tabcontent:after {
  content: "";
  height: 0.2604vw;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(135deg, #3d57cf 0%, #606196 250%);
  left: 0;
  bottom: 0;
  z-index: -2;
  transition: all 1s ease;
}

/* Title */
.tabcontent h3 {
  font-size: 1.5625vw;
  top: 4.1667vw;
  transform: rotate(90deg);
  position: absolute;
  left: -7.8125vw;
  opacity: 0.2;
  width: 10.4167vw;
  height: 3.125vw;
  background: -webkit-linear-gradient(135deg, #294ae0 0%, #9360c9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0;
  font-family: swgi1;
}

@media screen and (max-width: 26.6667vw) {
  .tabcontent h3 {
    top: 1.0417vw;
  }
}

@media screen and (max-width: 26.6667vw) {
  .tabcontent p {
    font-size: 0.7292vw;
    line-height: 1.3542vw;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
    margin-left: 1.5625vw;
  }

  to {
    opacity: 1;
    margin-left: 0;
  }
}

/* item end */

/* footer start */
footer {
  height: 10.4167vw;
  background-color: #434556;
  color: #d8d8d8;
  font-size: 0.625vw;
  line-height: 1.5;
}

footer ul li {
  list-style: none;
  font-family: GmarketL;
  text-align: center;
}

.footer--logo {
  padding: 1.0417vw 0 0.5208vw;
  margin-left: 50%;
  transform: translate(-50%);
}

.footer--logo img {
  margin-left: 50%;
  transform: translate(-50%);
}

footer span {
  margin-left: 1.0417vw;
}

/* footer end */

/* 모달창 start */
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  padding: 0 0.8333vw;
  display: none;
}

.modal .close-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.modal .inner {
  padding: 1.5625vw;
  max-width: 36.4583vw;
  width: 100%;
  margin: auto;
  background: #fff;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0.7813vw;
  display: none;
}

.modal .inner .modal-img {
  width: 31.25vw;
  height: 13.0208vw;
  margin: 0 auto 1.0417vw;
  display: block;
  border-radius: 0.7813vw;
  border: 0.1042vw solid #333;
  margin-bottom: 1.0417vw;
}

.modal .inner .modal-map {
  width: 31.25vw;
  height: 13.0208vw;
  border: 0.1042vw solid #333;
  border-radius: 0.7813vw;
  margin: 0 auto 1.0417vw;
}

.modal .inner .modal-title {
  text-align: center;
  margin-bottom: 1.5625vw;
  font-size: 1.3021vw;
  font-weight: bold;
  border-radius: 0.7813vw;
  font-family: swgi1;
}

.modal .inner .modal-subject {
  width: 26.0417vw;
  height: 12.5vw;
  font-size: 0.7292vw;
  font-weight: bold;
  margin-top: 1.5625vw;
  line-height: 1.8;
  word-break: keep-all;
  display: block;
  font-family: GmarketL;
  transform: translate(15%);
}

.img .map-img {
  display: none;
}

.img .content-text {
  display: none;
}

table.type03 {
  width: 31.25vw;
  transform: translate(-9.1%, 0%);
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border-top: 0.0521vw solid #ccc;
  border-left: 0.1563vw solid #369;
}
table.type03 th {
  width: 1.5625vw;
  padding: 0.5208vw;
  font-weight: bold;
  vertical-align: top;
  color: #153d73;
  border-right: 0.0521vw solid #ccc;
  border-bottom: 0.0521vw solid #ccc;
}
table.type03 td {
  width: 80%;
  padding: 0.5208vw;
  vertical-align: top;
  border-right: 0.1563vw solid #369;
  border-bottom: 0.0521vw solid #ccc;
}

.hoho {
  margin-top: 1.0417vw;
  color: rgb(243, 105, 105);
  font-size: 0.625vw;
}

.hot {
  margin-top: 0.7813vw;
  font-weight: bold;
  font-size: 0.625vw;
}

/* 모달창 end */
