@charset "utf-8";

* {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        box-sizing: border-box;
        position: relative;
}

body {
        height: 0;
        font-size: 14px;
        padding-bottom: 500px;
        text-align: center;
}

a,
button {
        cursor: pointer;
        color: #000;
}

em {
        font-style: normal;
}

.row {
        max-width: 1400px;
        margin: auto;
}

.imx {
        margin: 0 16px;
}

.fl {
        float: left;
}

.fr {
        float: right;
}

.clear::after {
        content: "";
        clear: both;
        width: 100%;
        height: 0;
        overflow: hidden;
}

@font-face {
        font-family: "GmarketSansMedium";
        src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
        font-weight: normal;
        font-style: normal;
}

@font-face {
        font-family: GmarketL;
        src: url("/font/GmarketSansTTFLight.woff");
}

@font-face {
        font-family: ball2;
        src: url("/font/A발레리노.woff");
}

@font-face {
        font-family: swgi1;
        src: url("/font/a시월구일1.woff");
}

img {
        display: block;
}

a {
        display: block;
        color: black;
}

button {
        background: none;
        border: none;
        cursor: pointer;
}

:root {
        --color--: rgba(255, 255, 255, 0.7);
}

/* 헤더 시작 */
header {
        width: 100%;
        height: 100px;
        /* border: 1px solid #333; */
        display: flex;
        position: fixed;
        flex-wrap: wrap;
        overflow: hidden;
        transition: height 0.4s;
        background: linear-gradient(var(--color--) 100px, rgba(255, 255, 255, 0.8) 1px);
        z-index: 200;
}

header .header--logo {
        /* border:1px solid red; */
        margin-left: 138px;
        margin-top: -11px;
}

nav {
        margin-left: 165px;
        margin-top: 48px;
}

nav ul li {
        margin: 0 25px;
        font-family: GmarketSansMedium;
}

nav ul li a {
        text-align: center;
}

nav ul.main--menu {
        display: flex;
}

nav ul.main--menu>li {}

nav ul.main--menu>li:nth-child(1) {
        margin-left: 50px;
}

.menuname--one {
        width: 95px;
        text-align: center;
        margin-left: 50%;
        transform: translate(-50%);
}

.menuname--two {
        width: 105px;
        text-align: center;
        margin-left: 50%;
        transform: translate(-50%);
}

.menuname--three {
        width: 95px;
        text-align: center;
        margin-left: 50%;
        transform: translate(-50%);
}

nav ul.main--menu>li>a {
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        color: #333;
        display: block;
}

nav ul.main--menu>li>a:hover {
        border-bottom: 5px solid #294083;
}

nav ul.main--menu li ul.sub--menu {
        margin-top: 12px;
        overflow: hidden;
}

nav ul.main--menu li ul.sub--menu li {
        margin-top: 30px;
}

nav ul.main--menu li ul.sub--menu li a {
        font-family: GmarketSansMedium;
        color: #757575;
        font-size: 14px;
}

nav ul.main--menu li ul.sub--menu li a:hover {
        font-weight: bold;
        text-decoration: underline;
        color: #454545;
}

.header--util {
        display: flex;
        margin-top: 54px;
        margin-left: 100px;
        position: relative;
}

.header--util .header--sns {
        display: flex;
        position: absolute;
        margin-top: -8px;
        margin-left: 50px;
}

.header--util .header--sns a:nth-child(3) {
        margin-top: 7px;
}

.header--util .header--sns a:nth-child(2) {
        margin: 0 12px;
}

.header--util button.login--btn {
        position: absolute;
        margin-left: 280px;
        margin-top: -4px;
}

.header--menu-icon {
        position: absolute;
        margin-left: 355px;
        margin-top: -4px;
}

div.util--box {
        width: 120px;
        position: fixed;
        font-family: GmarketSansMedium;
        margin-left: 1310px;
        margin-top: 54px;
        background: linear-gradient(transparent 46px, var(--color--) 1px);
}

.util--box ul {
        z-index: 100;
}

.util--box ul button.util--lang {
        width: 65px;
        height: 27px;
        font-size: 20px;
        margin-right: 44px;
        margin-left: 36px;
}

.util--box ul>li {
        display: none;
        text-align: center;
        margin-bottom: 15px;
        padding-bottom: 15px;
}

.util--box ul:hover>li {
        display: block;
}

.util--box ul>li>a {
        color: #666;
        font-size: 14px;
}

.util--box ul>li>a:hover {
        color: #333;
        text-decoration: underline;
}

.util--box ul li.util--li1 {
        margin-top: 50px;
}

.util--lang {
        display: flex;
}

.util--triangle {
        margin-top: 6px;
        margin-left: 5px;
        width: 0;
        height: 0;
        border-top: 10px solid #333;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
}

.util--line {
        height: 25px;
        border-left: 2px solid #828282;
        margin-left: 220px;
}

/* 메인 슬라이드 */

/* page start */
#page-rides .bg-wrapper {
        height: 600px;
        margin-bottom: 150px;
}

#page-rides .bg-wrapper .item-box {
        height: 100%;
}

#page-rides .bg-wrapper .item-box .item {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 650px;
        text-align: center;
        max-width: 1920px;
        max-height: 700px;
        opacity: 0.8;
}

#page-rides .bg-wrapper .item-box .item .text-box {
        position: absolute;
        left: 0;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 200px;
        font-size: 64px;
        font-family: ball2;
}

#page-rides .bg-wrapper .item-box .item h2 {
        font-size: 2.5em;
        color: #fff;
        margin-bottom: 20px;
}

#page-rides .bg-wrapper .item-box .item p {
        color: #fff;
        font-size: 1.2em;
        word-break: keep-all;
        font-weight: 400;
        line-height: 1.8;
        margin-bottom: 40px;
}

#page-rides .bg-wrapper .item-box .item a {
        display: inline-block;
        width: 180px;
        height: 50px;
        border: 1px #fff solid;
        color: #fff;
        line-height: 50px;
        font-size: 1.3em;
        transition: all 0.3s;
}

#page-rides .bg-wrapper .item-box .item::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.3);
}

/* page end */

/* mani slider plug-In */
.owl-theme .owl-nav {
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        z-index: 2;
        margin: 0;
}

.owl-theme .owl-nav button {
        padding: 0 !important;
        margin: 0 !important;
        height: auto !important;
}

.owl-theme .owl-nav button span {
        font-size: 7em;
        color: #fff;
        transition: all 0.3s;
}

.owl-theme .owl-nav button span:hover {
        color: #294083;
}

.owl-theme .owl-nav [class*="owl-"] {
        margin: 0;
        padding: 0;
        z-index: 2;
        background: none;
        height: auto;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
        background: none;
}

.owl-prev {
        position: absolute;
        left: 16px;
        top: 0;
}

.owl-next {
        position: absolute;
        right: 16px;
        top: 0;
}

/* mani slider plug-In */

/* parade start */
#page-rides .parade-wrapper {
        position: relative;
}

#page-rides .parade-wrapper .text1 {
        font-size: 45px;
        font-weight: bold;
        margin: 210px;
        text-decoration-style: double;
        text-underline-position: under;
        border-radius: 5px;
        text-shadow: 1px 1px 3px;
        font-family: swgi1;
        color: #484848;
}

.m-img1 {
        position: absolute;
        transform: translate(80%, -98%);
        opacity: 0.7;
}

.m-img2 {
        position: absolute;
        transform: translate(-90%, 165%);
        opacity: 0.7;
}

.m-img3 {
        position: absolute;
        transform: translate(800%, 110%);
        opacity: 0.7;
}

#page-rides .parade-wrapper video {
        max-width: 80%;
        width: 80%;
        border-radius: 15px;
}

#page-rides .parade-wrapper .text2 {
        margin-top: 150px;
        font-size: 45px;
        font-weight: bold;
        font-family: swgi1;
        color: #484848;
        text-shadow: 1px 1px 3px;
}

#page-rides .parade-wrapper .text3 {
        color: red;
        font-family: GmarketL;
        margin-top: 10px;
        font-size: 14px;
}

/* parade end */

/* item start */
#wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
}

/* 전체 박스 */
.content {
        max-width: 1400px;
        width: 100%;
        margin: 10% 5% 0;
        transition: 0.3s ease;
}

@media screen and (max-width: 512px) {
        .content {
                margin: 5% 4% 0;
        }
}

/* Tabs menu */
.tabs {
        margin: 0;
        background-image: linear-gradient(135deg, #72a4ee 0%, #467cd3 100%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        border-radius: 5px 5px 0 0;
}

@media screen and (max-width: 512px) {
        .tabs {
                height: 40px;
        }
}

/* Tab Links */
.tablinks {
        background: transparent;
        background-image: linear-gradient(90deg, transparent 70%, rgba(255, 255, 255, 0.2) 100%);
        border: none;
        outline: none;
        cursor: pointer;
        width: 25%;
        height: 80px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        overflow: hidden;
        transition: 0.3s ease;
}

@media screen and (max-width: 512px) {
        .tablinks {
                height: 40px;
                font-size: 20px;
        }
}

.tablinks:before {
        content: "";
        width: 100%;
        height: 0;
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.3s ease-in-out;
        z-index: 2;
}

@media screen and (max-width: 512px) {
        .tablinks:hover::before {
                height: 0;
        }
}

/* Tab active */
.tablinks.active {
        background-color: rgba(255, 255, 255);
        z-index: 0;
        border-right: 0;
        border-left: 0;
        height: 110px;
        bottom: 0;
        overflow: hidden;
}

@media screen and (max-width: 512px) {
        .tablinks.active {
                height: 200px;
        }
}

.tablinks.active:before {
        content: "";
        width: 100%;
        height: 5px;
        top: 0;
        left: 0;
}

/* Tabs text */
.tablinks.active p,
.tablinks.active:hover p {
        opacity: 1;
        background: -webkit-linear-gradient(135deg, #3659e7 0%, #776dce 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: swgi1;
}

/* tab menu */
.tablinks p {
        opacity: 0.6;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        transition: 0.3s ease;
        padding: 0;
        margin: 0;
        color: #f5f7fa;
        backface-visibility: hidden;
        font-weight: 400;
        font-size: 25px;
        font-family: swgi1;
}

.tablinks:hover p {
        color: white;
        opacity: 1;
}

@media screen and (max-width: 512px) {
        .tablinks:hover p {
                color: #686868;
                opacity: 0.6;
        }
}

@media screen and (max-width: 512px) {
        .tablinks p:before {
                display: none;
        }
}

/* tab content 내용*/
.wrapper_tabcontent {
        width: 100%;
        background-color: rgba(176, 186, 235, 0.2);
        margin-top: 0;
        margin-bottom: 200px;
        z-index: 3;
        position: relative;
        opacity: 1;
        padding: 20px 60px 50px;
        overflow: hidden;
        transition: all 1s ease;
        top: 0;
}

/* img 바탕내용 */
.wrapper_tabcontent .img {
        max-width: 300px;
        width: 100%;
        text-align: center;
        border-radius: 15px;
        margin-bottom: 15px;
}

/* img 내용 */
.wrapper_tabcontent .tabcontent .img img {
        max-width: 300px;
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 15px;
        margin-top: 50px;
        padding: 0;
        cursor: pointer;
        border: 1px solid #484848;
        box-shadow: 2px 1px 2px;
}

/* Text*/
.wrapper_tabcontent .tabcontent .img p {
        margin: 5px;
        font-size: 18px;
        font-family: GmarketL;
        transition: all 1s ease;
        animation: fadeEffect 0.6s ease;
        color: #484848;
        font-weight: bold;
}

.tabcontent {
        display: none;
        min-height: 180px;
        width: 100%;
}

@keyframes tabEffect {
        from {
                top: -40px;
        }

        to {
                top: 0;
        }
}

.tabcontent.active {
        width: 100%;
        transition: all 1s ease;
        display: block;
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
}

/* Tab content line */
.wrapper_tabcontent:after {
        content: "";
        height: 5px;
        width: 100%;
        position: absolute;
        background-image: linear-gradient(135deg, #3d57cf 0%, #606196 250%);
        left: 0;
        bottom: 0;
        z-index: -2;
        transition: all 1s ease;
}

/* Title */
.tabcontent h3 {
        font-size: 30px;
        top: 80px;
        transform: rotate(90deg);
        position: absolute;
        left: -150px;
        opacity: 0.2;
        width: 200px;
        height: 60px;
        background: -webkit-linear-gradient(135deg, #294ae0 0%, #9360c9 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding: 0;
        font-family: swgi1;
}

@media screen and (max-width: 512px) {
        .tabcontent h3 {
                top: 20px;
        }
}

@media screen and (max-width: 512px) {
        .tabcontent p {
                font-size: 14px;
                line-height: 26px;
        }
}

@keyframes fadeEffect {
        from {
                opacity: 0;
                margin-left: 30px;
        }

        to {
                opacity: 1;
                margin-left: 0;
        }
}

/* item end */

/* footer start */
footer {
        height: 200px;
        background-color: #434556;
        color: #d8d8d8;
        font-size: 12px;
        line-height: 1.5;
}

footer ul li {
        list-style: none;
        font-family: GmarketL;
        text-align: center;
}

.footer--logo {
        padding: 20px 0 10px;
        margin-left: 50%;
        transform: translate(-50%);
}

.footer--logo img {
        margin-left: 50%;
        transform: translate(-50%);
}

footer span {
        margin-left: 20px;
}

/* footer end */

/* 모달창 start */
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  background: rgba(0,0,0,0.6);
  padding: 0 16px;
  display: none;
}

.modal .close-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.modal .inner {
  padding: 30px;
  max-width: 700px;
  width: 100%;
  margin: auto;
  background: #fff;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 15px;
  display: none;
}

.modal .inner .modal-img {
  width: 600px;
  height: 250px;
  margin: 0 auto 20px;
  display: block;
  border-radius: 15px;
  border: 2px solid #333;
  margin-bottom: 20px;
}

.modal .inner .modal-map {
  width: 600px;
  height: 250px;
  border: 2px solid #333;
  border-radius: 15px;
  margin: 0 auto 20px;
}

.modal .inner .modal-title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  font-family: swgi1;
}

.modal .inner .modal-subject {
  width: 500px;
  height: 240px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 30px;
  line-height: 1.8;
  word-break: keep-all;
  display: block;
  font-family: GmarketL;
  transform: translate(15%);
}

.img .map-img {
  display: none;
}

.img .content-text {
  display: none;
}

table.type03 {
  width: 600px;
  transform: translate(-9.1%, 0%);
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-left: 3px solid #369;
}
table.type03 th {
  width: 30px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #153d73;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

}
table.type03 td {
  width: 80%;
  padding: 10px;
  vertical-align: top;
  border-right: 3px solid #369;
  border-bottom: 1px solid #ccc;
}

.hoho{ 
  margin-top: 20px; 
  color: rgb(243, 105, 105); 
  font-size: 12px;
}

.hot{ 
  margin-top: 15px;
  font-weight: bold;
  font-size: 12px;
}

/* 모달창 end */